<%- include("partials/header"); -%>
<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Login</h1>
        <div style="width:40%;margin: 25px auto;">
            <form action="/login" method="post">
                <div style="margin-bottom: 1rem;"><input type="text" class="form-control" name="username" placeholder="username"></div>
                <div style="margin-bottom: 1rem;"><input type="password" class="form-control" name="password" placeholder="password"></div>
                <div style="margin-bottom: 1rem;"class="d-grid gap-2"> <button class="btn btn-lg btn-primary btn-block">Login</button>  
                   <p>Don't have an account? Register <a href="/register">here</a></p>
            </div>
                </form>
        </div>
        
                </div>
    </div>
<%- include("partials/footer"); -%>